language: cpp
dist: trusty
sudo: required

services:
  - docker

addons:
  apt:
    packages:
      - docker-ce

script:
  - export TAG=`
      if [[ $TRAVIS_PULL_REQUEST == "false" ]] && [[ $TRAVIS_BRANCH == "master"]]; then
        echo "dev";
      elif [ $TRAVIS_PULL_REQUEST == "true" ] then
        echo $TRAVIS_PULL_REQUEST_BRANCH;
      else
        echo $TRAVIS_BRANCH;
      fi`
  - docker build --tag $REPO:$TAG --file Dockerfile .
  # TODO: add test
  # docker run -t $REPO:$TAG make test

after_success:
  - echo "$DOCKER_PASS" | docker login --username "$DOCKER_USER" --password-stdin
  - if [[ $TRAVIS_PULL_REQUEST == "false" ]]; then docker push $REPO:$TAG; fi

notifications:
  slack:
    secure: GVOuSt/DjnrogYKs3I82JFjPUFLvAvNQUo4iX6GkNrpTfibuCSeJirXjEHTWV3jkCNNQiLVHl/JJS+Bh3Nr1vAAHEHlZKybjbpvKpLJvpb1JWR65JocdFLqnARVs/V1xpsMhchULK2NR9o5m6cKblzaAjwGqs3HhH3Zt70aw2vUVwJ3YuUdDWNQeHhnzYB3qeWlfcBgMdlNgru0/M8I3wrP8E0czVso063VlpIFD/RXv2NxeYYipNQaLE86aoEe0J/mZMypEm1dkhGQIu581Ut5+U90OcVoC2h1BBVtmPtiI1gIJdd21eKwNAnjKVFkuphTPgUtW0NZE8tziV7nMNe/E5fDRSvtGOLN1XDuRGbBKrDg7ZZWRtj5MomcKkc4N71aDeXtJyoV9GcKD8mqrjAuq/ujDiA5DnLl7FGF+6gfEXEok+emK3mkfhaGRsDRbSLb5SuIOtScxbgQDcu7plsI0s4I+BC5QtlDCoAyhB1qHwGkEIvqbwbvrhEwYqYRTMD5l7H/AAwt0Tf/MvuOi+oP7Qt+G+idzoY1STOrq/FkhFRJ9WZ8QoEq7YhBPBebzPVNOXWUtE5ZDrSv+9gmhg5WU9Ypukl9ufrHHq5pKKzyKh1HJAPYyrLQterN46bxDmcN1mpzNuBuxMVW20cqqylQlFh8joWtGK6uTpdL43X4=

env:
  global:
  - REPO="umrdbs/mapping-r-server"
  - secure: "e/00l+SBn4/0j2/NUP9tlmvchUGR2t+rg/DxmPP6mGQ56G7Mb+uxHZb7S71pbnjcVhPG60m+ctqqzPrgnHJVNpSMEElAueBOYC/bZu0Gzkf1zd1JJbly5B1AODI1wTrC4hnIpEhfuD8S7Qj2HZuSH+oLSjsC1nn294CvOhAvxOL6zE8PClzenxEU+DwVpshXajpWvGDk9MRASnFrbJAo1IYtecm8GRJSMNCEHpLvPbebOjmcTLWZ1Rl19eCm+dsnABD5zafoiUwQ4/R8VjBlMDFlG5Ah7nV4qs2NLDFha9r7ZO4jyWbKfBX2CimfU6ZPY4SffYluB0qtLwqQHhPLh9ZXyKehm9g8eW+y6rklmDaBTE3+WNfdsZLUMh10kI9S28XSlUAp7m5lox5dlfw0BwLqaiWsPB10AuucchLLJA157B4Om9SmbgiDfY0xiud9vl2xSlgiwM9R5/osGGWzVPrjBpZP4yhBuAFAzQNOS3P6+V2ls5k2U4wBzk2KgSNd4JLh96PW1ZrEWa9GDODelqssPz077jAz+EThLpYxsdZuiy38gQ/CnL+daj3u7dxvwZHWnvpwufesE5bk6fRK+tTbkS2sFA0ZfpBV/QLBqTKOV6HkyxSpqsaCw5tpK8lPRAKqfKnp4YTDkXcqm7Nk4r6TPIGOuibCQEIHZuakqoM="
  - secure: "GBTdt74WqTIIWm9OLzLlBI2P/5HCQoMfMTDNzHQ6kHHei4BLHB93NveM6e3VugxOrsp9rJalHYDQo48PNfAL74wDrce6BSsof1LdVLsFuzJp1+IBzlnDt7q/GP95gAxobAzWmQ+WzqS9th6+dc6ax1wQ7FBD9ACMCFxP52sAxiXjPpckkYjeuZ/g+FSPgBvyG4fqwNM/2LTSoqIgY87iQ6dSCuhcWt8lVYUNGlvhjAPYtxyHqwdGuMgNpdPp/kb3JD9QEwXs3qWvILmNtOz0qC/Hi7M50rV+RvDQbIVrwr11O9EiAs6AaHpTXQAh8BspWF7adoYT6/9BPyUqkoAmlNLZcn1mgGpBeYmUGOPiUgJv01anrm1FvYhaXmYxPEqcQFxMIIxpa1FxdwYu8uNipni9ralm4SNrjvDEIy9NYAeUflsru7dR6CK4WQIN7nzilAJs/3arqqZUSRuz+1ibT2SsTTbm8tGTcBGeOMVLFN1My1awJSY8rZMtHT7+fTqIyAuBHxdY8HKMoZxzcfM1AOvw4wcHPfRJYS7oF6RSAReDyVPJB5BVW7ImAUCz9S2NLqwyBeIn+e8dSvAnZ6apIHDz1uBCc/ij6HphBnBaIMCkDQHJhTYPLezEf/c35JgDzcsBI96yaf51WEH8AYQhiQ712upr10ubj+tbRRAFww0="
